@CHARSET "ISO-8859-1";
#wrapper{
	background:url('../Images/bg-grad.gif');
	height:1000px;
	width:1000px;
	margin:0px auto;
	border:1px solid black;
}

#Bar{
	
	float:right;
}
	
#logo{
	clear:both;
	background:url('../Images/adv_logo_hd.gif');
	height:30px;
	width:200px;
	margin-left:5px;
}

nav ul{
	list-style:none;
	
}

nav ul li a{
	text-decoration:none;
	color:black;
	float:left;
	padding:15px 75px;
	background-color:lightgrey;
	float:left;
}

#cars{
	float:left;
}

.darkrow{
	background-color:#E6E6FA;
	height:100px;
	width:900px;
}

.box{
	
	height:100px;
	width:200px;
	float:left;
	padding:1px;
	margin:1px;
	text-align:left
	
	
}

.bold, .USD, .Total{
	text-align:center;
	padding:0px;
	margin:0px;
	
	
}

.SelectButton{
	margin-left:70px;
	
}
	
.smcase, .bgcase, .Bold{
	padding:0px;
	margin:0px;

}


	

.white {
	background-color:#FFF;
	height:100px;
	width:900px;
	
	float:right;
	
	
}

#itenary{
	height:450px;
	width:380px;
	background-color:#EEE8AA;
	
	float:right;
	margin-top:2px;		
}
	
.title{
	padding:2px;
	float:left;
	}

	.link{
	padding:2px;
	float:right;
	}
	
	p{
	padding:10px;
	
	}
	
	
	#FRO{
	height:200px;
	width:380px;
	background:url('../Images/offer.gif');
	text-font:bold;
	color:#FFF;
	text-align:center;
	margin:5px;

	}
	
	#footer{
	height:220px;
	width:950px;
	background-color:#D8BFD8;
	font-size:30px;
	float:left;
	margin-top:28px;
	margin-left:5px;
	
	}
	
.para1{
	margin:0px;
	font-size:20px;
}
	
.email{
	padding:0px;
	margin-left:3px;
}
	
.img{
	margin-top:10px;
	
}

.adline{
	font-size:15px;
	text-decoration:none;
}

#chgItinerary{
	color:blue;
	font-size:13px;
	float:right;
}

p.boldPara1{
	float:left;
}


p.boldPara, p.boldPara1{
	clear:both;
	font-weight:bold;
	font-family:arial;
	font-size:13px;
}

p.address{
	font-family:arial;
	font-size:13px;
}


footer{
	clear:both;
	background:url('../IMAGES/footer-bg-grad.png');
	width:%;
}


footer>div{
	float:left;
	padding:10px;
}


#footerPara{
	clear:both;
	text-align:center;
	font-size:15px;
	padding:35px 0px 10px 0px;
}

.color{
	color:blue;
}